{% extends "master.html" %} 
{% block title %} Share Holder Monthly Installment {% endblock %}
{% block content %} 
{% load PaymentCal %}
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            {% now "F" as current_month %}
            <h6 class="m-0 font-weight-bold text-primary">Share Holder Payment Check List</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>User Name</th>
                            <th>Share Number</th>
                            <th>Installment Amount</th>
                            <th>Last Installment Date</th>
                            <th>Need To Pay</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for stu in SharePaymentCheckList %}
                            <tr>
                                <td>{{stu.userName}}</td>
                                <td>{{stu.shareNumber}}</td>
                                <td>{{stu.installmentAmount}}</td>
                                <td>
                                    {{stu.LastInstammentDate}} 
                                </td>
                                <td>
                                    {% if stu.DaysDiffrenetFromNow > 30 and  stu.DaysDiffrenetFromNow <= 60 %}
                                        <span style="color:red">
                                            {% PaymentCal stu.installmentAmount stu.shareNumber 50 %}
                                        </span>
                                    {% elif stu.DaysDiffrenetFromNow > 60 %}
                                        <span style="color:red">
                                            {% PaymentCal stu.installmentAmount stu.shareNumber 100 %} (two months plus due)
                                        </span>
                                    {% else %}
                                        <span style="color:green">
                                            {{stu.installmentAmount}}
                                        </span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if stu.DaysDiffrenetFromNow < 30 %}
                                        <span style="color:green; font-weight:10px">Paid till - {{stu.LastInstammentDate|date:"F"}}</span>
                                    {% else %}
                                        <span style="color:red; font-weight:10px">Last Paid - {{stu.LastInstammentDate|date:"F"}}</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}