{% extends "master.html" %} 
{% block title %} Share Holder Monthly Installment {% endblock %}
{% block content %} 


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Share Holder Monthly Installment Unpaid</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>User Name</th>
                            <th>Mobile</th>
                            <th>Paid Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% now "Y-m-d" as current_datetime %}
                        {% now "Y-m" as current_datemonth %}

                        {% for stu in myList %}
                            <tr>
                                <td>{{stu.userName}}</td>
                                <td>{{stu.mobile}}</td>
                                {% if current_datetime > current_datemonth|add:"-10" %}
                                    <td><span style="color:red">Over Due</span></td>
                                {% else %}
                                    <td><span style="color:green">UnPaid</span></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}