{% extends "master.html" %} 
{% block title %} Loan Return History List {% endblock %}
{% block content %} 
    
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Loan Return History List of : {{ LoanHistory|first }}<span style="float:right"><a href="/loanList">Back</a><span></h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Loaner Name</th>
                            <th>Return Amount</th>
                            <th>Return Date</th>
                            <th>Comments</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for n in LoanHistory %}
                            <tr>
                                <td>{{n.Loan.Loaner}}</td>
                                <td>{{n.ReturnAmount}}</td>
                                <td>{{n.ReturnDate}}</td>
                                <td>{{n.Comments}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}